.top{
  padding-bottom: 3em;
  padding-top: 5em;
}

.glyphicon {
  margin-right: 5px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: transparent;
  margin-bottom: 10px;
  border: none;
  .list-group-image {
    margin-right: 10px;
    border-radius: 1em 0.2em 0.2em 1em;
  }
  .thumbnail {
    margin-bottom: 0px;
  }
  .caption {
    padding: 9px 9px 0px 9px;
  }
  &:before, &:after {
    display: table;
    content: " ";
  }
  img {
    float: left;
    
  }
  &:after {
    clear: both;
  }
}

.list-group-item-heading{
  margin-top: 80px;
}

a.no-underline{
  text-decoration: none;
  color: #333;
}
.list-group-item-text {
  margin: 0 0 11px;
}

.price{
  padding-left: 1em;
  color: #b65511 !important;
  font-weight: 600;
}