.product{
	padding-bottom: 3em;
	padding-top: 5em;
}
.media-left{
	float: left !important;
	padding: 0 3em 0 0;
}
.media-body{
	h2{
		font-family: Papyrus;
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	.price{
		font-family: Papyrus;
		color: #b65511;
		font-weight: 600;
	}
}
.nav-tabs{
	border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	font-weight: 600;
	color: lighten(#555555, 20%);
    background: url("/images/body_bg.jpg") 50% 0 repeat;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid lighten(#b65511, 10%);
} 

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	font-weight: 800;
    color: #555555;
    background: url("/images/body_bg.jpg") 50% 0 repeat;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid #b65511;
} 