<footer>
	<div class="container footer">
		<div class="row">
			<div class="col-md-4">
				Toate drepturile rezervate Coffee Dragon © 2016
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<span class="contact">Date de contact</span><br/>
				<span>E-mail: <a href="mailto:coffee.dragon@gmail.com"><font color="C0A172"><b>coffee.dragon@gmail.com</b></a><br/>
				<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;<span class="contact"><font size="2.5"><b>0722442693</b></font></span><br/>
				<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;<span class="contact"><font size="2.5"><b>Splaiul Independenței 311, București</b></font></span>
			</div>
		</div>
	</div>
</footer>