<footer>
	<div class="container footer">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<span class="contact fonted big">Date de contact</span><br/>
				<span class="contact fonted medium">E-mail: <a href="mailto:coffee.dragon@gmail.com">coffee.dragon@gmail.com</a></span><br/>
				<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;<span class="contact fonted medium">0722442693</span><br/>
				<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;<span class="contact fonted medium">Splaiul Independenței 311, București</span>
			</div>
			<div class="col-md-12"><div class="centered"><span class="fonted">Toate drepturile rezervate Coffee Dragon © 2016</span></div></div>
		</div>
	</div>
</footer>