h1 {
   text-align: center;
   color: #a8a8a8;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
   padding-top: 10.2em;
   padding-bottom: 5em;
  
  input, textarea {
    border:0; outline:0;
    padding: 1em;
    display: block;
    width: 100%;
    resize: none;
    margin-bottom: 1em;
    &:focus {
       
    }
  }
  
  #input-submit {
     color: white; 
     background: red;
     cursor: pointer;
    
    &:hover {
        
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}