.jumbotron{
	background:url("/images/jumbutron.jpg");
	height: 25em;
	background-repeat: no-repeat;
	background-size: cover;
}
.improved-hr{
	background:url("/images/betterHr.png") center 0 no-repeat;
	height: 3em;
	
}