@font-face {
  font-family: 'Rocker';
  font-style: normal;
  font-weight: normal;
  src: url('/ui/vendor/fonts/Rocker.otf') format('truetype');
}


.hidden {
    display: none !important;
}
.brown {
	color: #b65511;
}
.error{
	color: #a94442;
	margin-top: 1em;
	font-weight: 700;
}
.input-error{
	border:0.3em solid #a94442 !important;
}
.navbar-brand{
	padding: 0px 15px 15px 15px;
}
.navbar-default{
	background:url("/images/pattern_bg.jpg") 50% 0 repeat;
	border-radius: 0 0 0.5em 0.5em;
	border-color:transparent;
	margin-bottom: 0 !important;
	.nav-text{
		letter-spacing: 2px;
	}
}
.logo{
	position: absolute;
	left:38%;
}
.nav-text, .dropdown-toggle{
	font-weight: bold;
	color:#fff !important;
}
.separator{
	color: #fff;
	padding-top: 1em;
	font-weight: bold;
}
#main{
	padding-top: 3.2em;
	background:url("/images/body_bg.jpg") 50% 0 repeat;
}
.dropdown{
	letter-spacing: 2px;
}
.dropdown-menu {
	background:url("/images/pattern_bg.jpg") 50% 0 repeat;
	letter-spacing: 2px;
	li{
		a{
			&:hover{
				background:transparent;
				color:#b65511 !important;
			}
			&:focus{
				background:transparent;
				color:#b65511 !important;
			}
		}
	}
}
a.dropdown-toggle{
	background:transparent !important;
}
footer{
	background:url("/images/pattern_bg.jpg") repeat;
	margin-left:auto;
	margin-right:auto;
	//position:fixed;
}
.footer{
	padding:3em 0 2em;
	color:#d5c69f;
}
.contact{
	font-weight:700;
	font-size:large;
}
.centered{
	text-align: center;
	width: 100%;
	&.normal{
		font-size: 120%;
	}

	&.medium {
		font-weight: 600;
		font-size: 140%;
	}
	&.big {
		font-weight: 700;
		font-size: 200%;
	}

}
.fonted{
	font-family: 'Rocker';
	&.normal{
		font-size: 120% !important;
	}

	&.medium {
		font-weight: 600 !important;
		font-size: 140% !important;
	}
	&.big {
		font-weight: 700 !important;
		font-size: 200% !important;
	}
}

.with-background{
	background:url("/images/body_bg.jpg") 50% 0 repeat !important;
}

.improved-hr{
	background:url("/images/betterHr.png") center 0 no-repeat;
	height: 3em;
	
}

::-webkit-input-placeholder {
   font-family: 'Rocker';
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Rocker';
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Rocker';
}

:-ms-input-placeholder {  
   font-family: 'Rocker';
}